.Board {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 5px solid black;
  overflow: auto;
}

.Board__scene {
  position: absolute;
  transform-style: preserve-3d;
}

.Board__inner {
  position: absolute;
  transform-style: preserve-3d;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
